* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

.main-menu li {
    list-style: none;
    text-align: center;
    padding: 10px;
}

.main-menu li a {
    color: #fff;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 12px;
    border: 5px solid rgba(218, 167, 167, 0.911);
    background-color: brown;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    text-decoration: underline;
}