* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 50px;
    min-width: 300px;
}

a {
    color: rgb(54, 45, 45);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.main-menu li {
    list-style: none;
    text-align: center;
    padding: 10px;
}

.main-menu li a {
    color: #fff;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 12px;
    border: 5px solid rgba(218, 167, 167, 0.911);
    background-color: brown;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    text-decoration: underline;
    width: 450px;
}

img {
    width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 18px;
}

h2 {
    text-align: center;
    padding-top: 10px;
}

p{
    width: 600px;
    margin: 30px auto;
}

.recipe {
    border: 2px solid black;
    margin: 50px auto;
    max-width: 800px;
    min-width: 600px;
    background-color: burlywood;
    text-align: center;
}

.recipe h2 {
    text-decoration: underline;
    margin-top: 20px;
}

.recipe li {
    padding: 5px;
    line-height: 1.2rem;
}

ul, ol {
    padding: 20px;
    margin:30px;
    text-align: start;
}

ul {
    list-style-type: none;
}

ol {
    padding: 50px;
    background-color: azure;
    border-radius: 10px;
}